.aqua{color:#000!important;background-color:#00ffff!important}
.amber{color:#000!important;background-color:#ffc107!important}
.aqua{color:#000!important;background-color:#00ffff!important}
.blue{color:#fff!important;background-color:#2196F3!important}
.light-blue{color:#000!important;background-color:#87CEEB!important}
.brown{color:#fff!important;background-color:#795548!important}
.cyan{color:#000!important;background-color:#00bcd4!important}
.blue-grey{color:#fff!important;background-color:#607d8b!important}
.green{color:#fff!important;background-color:#4CAF50!important}
.light-green{color:#000!important;background-color:#8bc34a!important}
.indigo{color:#fff!important;background-color:#3f51b5!important}
.khaki{color:#000!important;background-color:#f0e68c!important}
.lime{color:#000!important;background-color:#cddc39!important}
.orange{color:#000!important;background-color:#ff9800!important}
.deep-orange{color:#fff!important;background-color:#ff5722!important}
.pink{color:#fff!important;background-color:#e91e63!important}
.purple{color:#fff!important;background-color:#9c27b0!important}
.deep-purple{color:#fff!important;background-color:#673ab7!important}
.red{color:#fff!important;background-color:#f44336!important}
.sand{color:#000!important;background-color:#fdf5e6!important}
.teal{color:#fff!important;background-color:#009688!important}
.yellow{color:#000!important;background-color:#ffeb3b!important}
.white{color:#000!important;background-color:#ffffff!important}
.black{color:#fff!important;background-color:#000000!important}
.grey{color:#000!important;background-color:#9e9e9e!important}
.light-grey{color:#000!important;background-color:#f1f1f1!important}
.dark-grey{color:#fff!important;background-color:#616161!important}
.pale-red{color:#000!important;background-color:#ffdddd!important}
.pale-green{color:#000!important;background-color:#ddffdd!important}
.pale-yellow{color:#000!important;background-color:#ffffcc!important}
.pale-blue{color:#000!important;background-color:#ddffff!important}
.text-amber{color:#ffc107!important}
.text-aqua{color:#00ffff!important}
.text-blue{color:#2196F3!important}
.text-light-blue{color:#87CEEB!important}
.text-brown{color:#795548!important}
.text-cyan{color:#00bcd4!important}
.text-blue-grey{color:#607d8b!important}
.text-green{color:#4CAF50!important}
.text-light-green{color:#8bc34a!important}
.text-indigo{color:#3f51b5!important}
.text-khaki{color:#b4aa50!important}
.text-lime{color:#cddc39!important}
.text-orange{color:#ff9800!important}
.text-deep-orange{color:#ff5722!important}
.text-pink{color:#e91e63!important}
.text-purple{color:#9c27b0!important}
.text-deep-purple{color:#673ab7!important}
.text-red{color:#f44336!important}
.text-sand{color:#fdf5e6!important}
.text-teal{color:#009688!important}
.text-yellow{color:#d2be0e!important}
.text-white{color:#ffffff!important}
.text-black{color:#000000!important}
.text-grey{color:#757575!important}
.text-light-grey{color:#f1f1f1!important}
.text-dark-grey{color:#3a3a3a!important}
